.geoDraw {
	display: grid;
	grid-template-rows: min-content auto;
	align-items: center;
}

.buttonsContainer {
	margin: 15px auto;
	width: max-content;
	height: max-content;
}

.result {
	position: sticky;
	user-select: none;
	-moz-user-select: none;
	z-index: 98;
	width: max-content;
	height: max-content;
	margin: 8em auto 0;
	font-size: 3em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ff590b;
}

#container {
	margin: 20px auto;
	padding: 30px;
	width: 650px;
	background-color: #fff;
	border: 2px solid #000;
	height: auto;
	overflow: hidden;
	min-width: 650px;
}
div.sketchcontainer{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}
div.sketchpad {
	margin: auto auto;
	border: 3px solid #3d3d3d;
	width: 700px;
	max-width: calc(100% - 50px);
	height: 400px;
	max-height: 50%;
	background: rgba(0, 0, 0, 0) url("images/grid.png") repeat scroll 0px 0px / 30px 30px;
	overflow: hidden;
}

