.geoDraw {
	display: grid;
	grid-template-rows: min-content min-content auto;
	align-items: center;
}

.buttonsContainer {
	margin-top: 15px;
	text-align: center;
}

.boardButton {
	padding: 10px;
	margin: 0 5px;
	border: solid #555 5px;
	border-radius: 5px;
	background-color: azure;
	font-size: 20px;
	font-weight: bold;
	color: #555;
	min-width: 15%;
}

.sandboxButton {
	position: absolute;
	margin: 1% 0 0 1%;
	padding: 10px;
	border: solid #555 5px;
	border-radius: 5px;
	background-color: azure;
	font-size: 20px;
	font-weight: bold;
	color: #555;
}

.textResult {
	position: relative;
	display: flex;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: max-content;
	height: max-content;
	margin: 10px auto 0 auto;
	font-size: 2em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

.score {
	position: relative;
	display: flex;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: max-content;
	height: max-content;
	margin: 5px auto 10px auto;
	font-size: 1.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

.instruction {
	display: grid;
	grid-template-rows: min-content min-content min-content;
	align-items: center;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: max-content;
	height: max-content;
	margin: 10px auto;
	font-size: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	color: #000;
}

#l2 {
	display:flex;
}

.orange {
	color: #ff590b;
	margin: 0 0.4em;
}

#container {
	margin: 20px auto;
	padding: 30px;
	width: 650px;
	background-color: #fff;
	border: 2px solid #000;
	height: auto;
	overflow: hidden;
	min-width: 650px;
}
div.sketchcontainer{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}
div.sketchpad {
	margin: auto auto;
	border: 3px solid #3d3d3d;
	width: max-content;
	max-width: calc(100% - 50px);
	height: max-content;
	max-height: 50%;
	background: rgba(0, 0, 0, 0) url("images/grid.png") repeat scroll 0px 0px / 30px 30px;
	overflow: hidden;
}
div.viewer {
	margin: auto auto;
	border: 3px solid #3d3d3d;
	width: max-content;
	max-width: calc(100% - 50px);
	height: max-content;
	max-height: 50%;
	overflow: hidden;
}

